* {
    margin: 0%;
    padding: 0%;
}
.pantalla{
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 /*    background-color: rgb(255, 193, 227); */
}
.panta{
    position: relative;
    width:60%;
    height: 100vh;

}
#sonido{
    width: 5%;
    position: absolute;
    top: 1%;
    left: -33%;
    cursor: pointer;
}
.psp{
    width: 50%;
    position: absolute;
    top: 21%;
    left: 19%;
}
#uno{
    width: 26%;
    position: absolute;
    top: 24%;
    left: 30%;
    cursor: pointer;
}
.escalar{
  animation: kirbyOne 1s ease infinite;
}

@keyframes kirbyOne {
    0%{transform: scale(30%); position: 1; }
    100%{transform: scale(100%); position: 0;}
}
#dos{
    width: 33%;
    position: absolute;
    top: 55%;
    left: 27%;
    cursor: pointer;
}
.rotacion{
    animation: kirbyDos 2s ease infinite;
}
@keyframes kirbyDos {
    0%{transform:rotate(30deg); position: 1; }
    100%{transform:rotate(60deg); position: 0;}
}
#tres{
    position: absolute;
    top: 51%;
    left: 55%;
    cursor: pointer;
}
.mono{
    animation: monito 2s ease infinite;
}
@keyframes monito {
    0%{transform: translateX(0);}
    20%{transform: translateX(-60px);}
    40%{transform: translateX(0px);}
    60%{transform: translateX(-60px);}
    80%{transform: translateX(0px);}
    100%{transform: translateX(-60px); opacity: 0;}
}
#cuatro{
    width: 20%;
    position: absolute;
    top: 18%;
    left: 13%;
    cursor: pointer;
}
.reloj{
    animation: reloj 1s ease infinite;
}
@keyframes reloj {
    0%{transform:rotate(10deg); position: 1; }
    40%{transform:rotate(20deg); position: 0;}
    80%{transform:rotate(-10deg); position: 0;}
    100%{transform:rotate(10deg); position: 0;}
}
#titulo{
    width: 20%;
    position: absolute;
    top: 15%;
    left: 35%;
    cursor: pointer;
}
.saltar{
    animation: salto 0.6s ease forwards;
}
@keyframes salto {
    0%{transform: translateY(0);}
    20%{transform: translateY(-60px);}
    40%{transform: translateY(0px);}
    60%{transform: translateY(-60px);}
    80%{transform: translateY(0px);}
    100%{transform: translateY(-60px); opacity: 0;}
}
.hud {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    font-family:'Franklin Gothic Medium';
    font-size: 50px;
    color: white;
    z-index: 1000;
}

.hud-item {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 8px;
    gap: 8px;
}

.hud-item img {
    width: 70px;
    height: 70px;
    margin-right: 8px;
}
